<!DOCTYPE html>
<html>
<head>
  <title>SocialMegaphone</title>
  <%= stylesheet_link_tag    "social_megaphone/application", :media => "all" %>
  <%= javascript_include_tag "social_megaphone/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
